boto3
opensearch-py
botocore
awscli
retrying
ipywidgets
iprogress
langchain == 0.3.17
langchain_aws == 0.2.10
langchain-core == 0.3.34
langchain_community == 0.3.16
s3fs
requests
pypdf
tqdm
numpy >= 2.0
pandas >= 2.2
pyarrow >= 17.0
datasets >= 3.0.0
haystack-ai
ragas == 0.1.9